/* COMPONETES PADRÕES */
*{
    margin: 0px;
    padding: 0px;
}

body,form{
    margin: 1.8rem;
}

table,td,th{
    border-collapse: collapse;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
    padding-left:50px;
}
table{
    width: 100%;
}

/* CLASSES */
.embrulho-cabecalho-formulario{
    /* margin-top: 5px;
    border-color: black;
    border-style: dashed ;
    border-radius: 10px ;
    border-width: 0.5px;
    padding: 30px; */
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
}

.embrulho-item-formulario{
    /* margin-top: 5px;
    border-color: black;
    border-style: dashed ;
    border-radius: 10px ;
    border-width: 0.5px;
    padding: 20px; */
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
}

.embrulho-botoes{
    margin-top: 5px;
    border-color: black;
    border-style: dashed ;
    border-radius: 10px ;
    border-width: 0.5px;
    padding: 20px;
}

.borda-inferior{
    border-bottom: 1px solid #eee;
    margin-bottom: 3rem;
    padding-bottom: 20px;
}





