<div class="embrulho-principal">
  <div class="titulo-browser">Browser Local</div>
  <div>
    <!-- BOTÃO DE SAIR DO BROWSER -->
    <div>
      <input type="button" class="buttonSair" routerLink="/" style="float:left">
    </div>
    <div class="posicao-centro-vertical">
      <!-- PESQUISA REGISTRO-->
      <div class="form-group col-md-6">
        <div class="input-group-append">

          <input type="text" 
                 id="inputPesquisaRegistroLocal" 
                 required 
                 maxlength="100" 
                 class="form-control" 
                 autocomplete="off" 
                 [(ngModel)]="pesquisa"
                 (keyup.enter)="getLocaisPorDescricao()"    
                 placeholder="Pesquise pela descrição"                           
          >

          <input type="button" 
                 id="inputPesquisaRegistroLocal" 
                 class="buttonPesquisa"
                 (click)="getLocaisPorDescricao()"
          >
        </div>
      </div>
      <!-- BOTÃO DE INCLUSÃO DE REGISTRO -->
      <div>
        <input type="button" value="Incluir" routerLink="local" class="btn btn-primary botaoBrowser">
      </div>
    </div>
  </div>

  <!-- TABELA -->
  <div>
   <table class="table table-sm bordas-tabela">
      <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col" class="th-descricao">Descrição</th>
        <th>Editar</th>
        <th>Excluir</th>
      </thead>
      <tbody>
        <tr *ngFor="let local of locais | paginate: {itemsPerPage:10, currentPage: paginaAtual }; let i = index;"
            [class.registro-bloqueado]="local.bloqueado"
        >
            <td> {{ local.id        }} </td>
            <td> {{ local.descricao }} </td>
            <!-- BOTÃO EDITAR -->
            <td class="align-components-browser-center">
                <input type="button" 
                       class="buttonEditar" 
                       routerLink="local/" 
                       [queryParams]="{
                                        id:local.id,
                                        descricao:local.descricao, 
                                        bloqueado:local.bloqueado
                                      }"
                > 
            </td>
            <!-- BOTÃO EXCLUIR -->
            <td class="align-components-browser-center"> 
                <input type="button" 
                       class="buttonExclui" 
                       (click)="excluiLocal(local.id)"
                > 
            </td>
        <tr>    
      </tbody>
    </table>

    <!-- PAGINAÇÃO DA TABELA -->
    <pagination-controls
            (pageChange)="paginaAtual = $event"
            maxSize = "10"
            directionLinks = "true"
            autoHide = "true"
            responsive = "true"
            previousLabel = ""
            nextLabel = ""
            screenReaderPaginationLabel = "Paginação"
            screenReaderPageLabel = "page"
            screenReaderCurrentLabel = "Você está na página"
            class=" posicao-centro-vertical " 
    >
    </pagination-controls>

    <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
    <div *ngIf="errosApi">
        <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
    </div> 
  </div>  

</div>