<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajuda - Cadastro Local</title>
</head>
<body>

    <article>
        <h1><u>Local</u></h1>
        <p>
            Nesta rotina são cadastrados todos os locais utlizados no sistema. </br>
            Todo formulário de perguntas necessita ser associado à um local que corresponde 
            ao lugar que o fomulário em questão faz referência.</br>
            Obrigatóriamente todo fomulário cadastrado no sistema deve ser associado a um local, caso contrário, o 
            Cadastro de Fomulários não será concluído. </br></br>

            O cadastro de Local é composto pelas seguintes informações: </br>
            
            <ul>
                <li><span>ID</span> - Código identificador do Local, este campo é preenchido automaticamente pelo sistema.</li>
                <li><span>Descrição</span> - Descrição do Local cadastrado, por exemplo: DEPOSITO DE MATERIA PRIMA, BANHEIRO, TACHO etc..</li>
            </ul>
        </p>    
    </article>

</body>
</html>