<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Browser Local</title>
</head>

<body>

  <div class="titulo-browser">Browser Local</div>
  <div>
    <!-- BOTÃO DE SAIR DO BROWSER -->
    <div>
      <input type="button" class="buttonSair" routerLink="/" style="float:left">
    </div>
    <div class="posicao-centro-vertical">
      <!-- PESQUISA REGISTRO-->
      <div class="form-group col-md-6">
        <div class="input-group-append">
          <input type="text" id="inputPesquisaRegistroLocal" required maxlength="100" class="form-control" autocomplete="off">
          <input type="button" id="inputPesquisaRegistroLocal" class="buttonPesquisa">
        </div>
      </div>
      <!-- BOTÃO DE INCLUSÃO DE REGISTRO -->
      <div>
        <input type="button" value="Incluir" routerLink="local" class="btn btn-primary botaoIncluirBrowser">
      </div>
    </div>
  </div>

  <!-- TABELA -->
  <div>
    <table class="table table-sm bordas-tabela">
      <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col">DESCRIÇÃO</th>
        <th>#</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr>
          <td>LINHA 01</td>
          <td>LINHA 01</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
        <tr>
          <td>LINHA 02</td>
          <td>LINHA 02</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
        <tr>
          <td>LINHA 03</td>
          <td>LINHA 03</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
        <tr>
          <td>LINHA 04</td>
          <td>LINHA 04</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
        <tr>
          <td>LINHA 05</td>
          <td>LINHA 05</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
        <tr>
          <td>LINHA 06</td>
          <td>LINHA 06</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
        <tr>
          <td>LINHA 07</td>
          <td>LINHA 07</td>
          <td> <input type="button" class="buttonExclui"> </td>
          <td> <input type="button" class="buttonEditar"> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- PAGINAÇÃO -->
  <nav class="posicao-centro-vertical">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</body>

</html>