<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Locais</title>
</head>
<body>
    <form action="#" method="POST" autocomplete="off">
        <fieldset>
            <legend>Cadastro Local</legend>
            <div class="embrulho-campos">
                
                <p>Campos em azul são de preenchimento obrigatório</p>
                <div class="form-row">
                    <!-- ID -->
                    <div class="form-group col-md-2 espaco">
                        <label for="inputIdLocal">ID</label>
                        <input type="text" id="inputIdLocal" name="inputIdLocal" disabled required maxlength="4" [(ngModel)]="local.id" class="form-control">
                    </div>
                    <!-- DESCRIÇÃO -->
                    <div class="form-group col-md-6 espaco">
                        <label for="inputDescricaoLocal" class="preenchimentoObrigatorio">Descrição</label>
                        <input type="text" id="inputDescricaoLocal" name="inputDescricaoLocal" required maxlength="25" [(ngModel)]="local.descricao" class="form-control">
                    </div>
                    <!-- BLOQUEADO -->
                    <div class="form-group espaco">
                        <label for="inputBloqueado" class="preenchimentoObrigatorio">Bloqueado</label>
                        <select id="inputBloqueado" name="inputBloqueado" required [(ngModel)]="local.bloqueado" class="form-control">
                            <option value=false>Não</option>
                            <option value=true>Sim</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <app-botoes-salvar-fechar (botaoSalvarClicado)=salvaLocal($event)
                                  (botaoFecharClicado)=fechaTela($event)></app-botoes-salvar-fechar>
    </form>
</body>
</html>
