/* ELEMENTOS PADRÕES */
body{
    margin-top: 1.0rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    margin-bottom: 0rem;
}

p{
    color: blue;   
}

legend{
    font: 100% verdana, arial, tahoma, sans-serif;
    font-size: 1.52rem;
    font-weight: bold;
}

tr:hover{
    background-color: #f0f0f0;
}

input[type="button"]{
    cursor:pointer;
}

input[type="radio"]{
    cursor:pointer; 
}

input[type="date"] {
    background:#fff url(././../../imagens/calendario.png) 93% 50% no-repeat ;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* CLASSES */
.embrulho-campos{  
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    
    /*SCROLL */
    height: 28rem;
    overflow-y: auto;  /*só aparece o scroll quando necessário*/
} 

.embrulho-campos-mod2{
    border-top: 1px solid #eee;
    /* border-left: 1px solid #eee; */
    /* border-right: 1px solid #eee; */
}

.embrulho-botoes{
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
}

.espaco{
    margin-right: 50px;
}

.preenchimentoObrigatorio{
    color: blue;
}

.posicao-centro-vertical{
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.titulo-browser{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: 0.03px;
    margin-bottom: 20px;
}

.botoesCrud{
    width: 8rem;
    margin-left: 1rem;
}

.botaoBrowser{
    width: 8rem;
    margin-left: 4rem;
    margin-bottom: 0.9rem;
}

.bordas-tabela{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 0.03px;
    margin-bottom: 0.4rem;
}

