/* ELEMENTOS PADRÕES */
body{
    margin-top: 1.0rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
}

p{
    color: blue;   
}

legend{
    font: 100% verdana, arial, tahoma, sans-serif;
    font-size: 1.52rem;
    font-weight: bold;
}

tr:hover{
    background-color: #f0f0f0;
}

/* CLASSES */
.embrulho-campos{
    margin-top: 5px;
    border-color: black;
    border-style: dashed ;
    border-radius: 10px ;
    border-width: 0.5px;
    padding: 30px;

    /*SCROLL */
    height: 28rem;
    overflow-y: auto; /*só aparece o scroll quando necessário*/
}

.embrulho-botoes{
    margin-top: 5px;
    border-color: black;
    border-style: dashed ;
    border-radius: 10px ;
    border-width: 0.5px;
    padding: 20px;
}

.espaco{
    margin-right: 50px;
}

.preenchimentoObrigatorio{
    color: blue;
}

.posicao-centro-vertical{
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.espacamento-botoes{
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.titulo-browser{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: 0.03px;
    margin-bottom: 20px;
}

.botaoIncluirBrowser{
    width: 8rem;
    margin-left: 4rem;
    margin-bottom: 0.9rem;
}

.bordas-tabela{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 0.03px;
}
