<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar  sticky-top navbar-dark bg-dark navbar-expand-lg">

    <a class="navbar-brand" href="#">QualyS</a>

    <!-- BOTÃO PARA RESPONSIVIDADE -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- CADASTROS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="browser-local">Local</a>
                    <a class="dropdown-item" routerLink="browser-frequencia">Frequência</a>
                    <a class="dropdown-item" routerLink="browser-programa">Programa</a>
                    <a class="dropdown-item" routerLink="browser-cadastro-formulario">Formulário</a>
                    <a class="dropdown-item" routerLink="browser-usuario">Usuário</a>
                </div>
            </li>

            <!-- LANÇAMENTOS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLancamentos" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Lançamentos
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Formulários</a>
                        <ul class="dropdown-menu">
                            <!-- OS FORMULÁRIOS DEVEM VIR DO BANCO DE DADOS -->
                            <li><a class="dropdown-item" href="#">VISTORIA VESTIARIO MASCULINO</a></li>
                            <li><a class="dropdown-item" href="#">VISTORIA VESTIARIO FEMININO</a></li>
                            <li><a class="dropdown-item" href="#">VISTORIA DEPOSITO MANUTENÇÃO</a></li>
                            <li><a class="dropdown-item" href="#">VISTORIA DEPOSITO EMBALAGEM</a></li>
                        </ul>
                    </li>
                    <a class="dropdown-item" routerLink="#">Inconforme</a>
                </ul>
            </li>

            <!-- RELATÓRIOS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Relatórios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="#">Relatório 01</a>
                    <a class="dropdown-item" routerLink="#">Relatório 02</a>
                    <a class="dropdown-item" routerLink="teste">Relatório 02</a>
                </div>
            </li>
        </ul>

        <!-- NOME DO USUÁRIO LOGADO NO SISTEMA -->
        <!-- <span class="navbar-text">
                usuário: 138.265.386-23 |
        </span> -->

        <!-- AJUDA -->
        <a class="nav-link" href="#">Ajuda</a>

    </div>
</nav>