<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
</head>

<body>
  <div class="fundoLogin">
    <img src="assets/logoQualyS.png" class="logoMarcaQualyS">
    <div class="login-box">
      <img src="assets/avatarLogin.png" class="avatarLogin">
      <h1>Login</h1>
      <form method="post" autocomplete="off">
        <!-- CPF LOGIN -->
        <label for="inputCpfLogin">CPF</label>
        <input type="text" placeholder="Entre com CPF" maxlength=14 required [(ngModel)]="user" (keydown)="formataCpf(inputCpf.value)" id="inputCpfLogin" name="inputCpfLogin" #inputCpf>
        <!-- SENHA -->
        <label for="inputSenhaLogin">Senha</label>
        <input type="password" placeholder="Entre com a senha" maxlength=20 required [(ngModel)]="senha" id="inputSenhaLogin" name="inputSenhaLogin">
        <!-- BOTÃO ENTRAR -->
        <input type="submit" value="Entrar" id="buttonLogin">
        <!-- <a href="#">Esqueci a senha</a> -->
      </form>
    </div>
  </div>
</body>

</html>