<div class="fundo-degrade">
    <div class="login-box">
      <img src="assets/avatarLogin.png" class="avatarLogin">
      <h1>Login</h1>
      <form method="post" autocomplete="off">
        <!-- CPF LOGIN -->
        <label for="inputCpfLogin">CPF</label>
        <input type="text" 
               placeholder="Entre com CPF" 
               maxlength=14 
               required 
               [(ngModel)]="user" 
               (keydown)="formataCpf(inputCpf.value)" 
               id="inputCpfLogin" 
               name="inputCpfLogin" 
               #inputCpf
        >
        <!-- SENHA -->
        <label for="inputSenhaLogin">Senha</label>
        <input type="password" 
               placeholder="Entre com a senha" 
               maxlength=20 
               required 
               [(ngModel)]="senha" 
               id="inputSenhaLogin" 
               name="inputSenhaLogin"
        >
        <!-- BOTÃO ENTRAR -->
        <input type="submit" 
               value="Entrar" 
               id="buttonLogin"
               (click)="login()"
        >
        <!-- <a href="#">Esqueci a senha</a> -->
      </form>

      <div *ngIf="erro" class="alert-warning">
        <div class="alerta-login-invalido">
          {{ erro }}
        </div>
      </div>
    </div>
</div>
