<div class="embrulho-principal">
    <div class="titulo-browser">Browser Programa</div>
    <div>
        <!-- BOTÃO DE SAIR DO BROWSER -->
        <div>
            <input type="button" class="buttonSair" routerLink="/" style="float:left" >
        </div>
        <div class="posicao-centro-vertical">
            <!-- PESQUISA REGISTRO-->
            <div class="form-group col-md-6">
                <div class="input-group-append">

                    <input type="text" 
                           id="inputPesquisaRegistroPrograma" 
                           required maxlength="100" 
                           class="form-control" 
                           autocomplete="off"
                           [(ngModel)]="pesquisa"
                           (keyup.enter)="getFrequenciasPorDescricao()"   
                           placeholder="Pesquise pela descrição"                                      
                    >

                    <input type="button" 
                           id="inputPesquisaRegistroPrograma"  
                           class="buttonPesquisa"
                           (click)="getFrequenciasPorDescricao()"
                    >
                </div>
            </div>
            <!-- BOTÃO DE INCLUSÃO DE REGISTRO -->
            <div>
                <input type="button" value="Incluir" routerLink="programa" class="btn btn-primary botaoBrowser">
            </div>
        </div>
    </div>

    <!-- TABELA -->
    <div>
        <table class="table table-sm bordas-tabela">
            <thead class="thead-dark">
                <th scope="col">ID</th>
                <th scope="col">Descrição</th>
                <th scope="col">Sigla</th>
                <th>Editar</th>
                <th>Excluir</th>
            </thead>
            <tbody>
                <tr *ngFor="let programa of programas | paginate: {itemsPerPage:10, currentPage: paginaAtual }; let i = index;"
                    [class.registro-bloqueado]="programa.bloqueado"
                >
                    <td> {{ programa.id            }} </td>
                    <td> {{ programa.descricao     }} </td>
                    <td> {{ programa.sigla         }} </td>
                    <!-- EDITAR -->
                    <td class="align-components-browser-center"> 
                        <input type="button" 
                               class="buttonEditar" 
                               routerLink="programa/" 
                               [queryParams]="{
                                                id:programa.id, 
                                                descricao:programa.descricao,
                                                sigla:programa.sigla,
                                                versao:programa.versao,
                                                data_vigencia:programa.data_vigencia,
                                                data_revisao:programa.data_revisao,
                                                versao:programa.versao,
                                                oficio:programa.oficio,
                                                bloqueado:programa.bloqueado
                                              }"
                        > 
                    </td>
                    <!-- EXCLUIR -->
                    <td class="align-components-browser-center"> 
                        <input type="button" 
                               class="buttonExclui" 
                               (click)="confirmaExclusao(programa.id)"
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        
        <!-- PAGINAÇÃO DA TABELA -->
        <pagination-controls
                (pageChange)="paginaAtual = $event"
                maxSize = "5"
                directionLinks = "true"
                autoHide = "true"
                responsive = "true"
                previousLabel = ""
                nextLabel = ""
                screenReaderPaginationLabel = "Paginação"
                screenReaderPageLabel = "page"
                screenReaderCurrentLabel = "Você está na página"
                class=" posicao-centro-vertical " 
        >
        </pagination-controls>

        <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
        <div *ngIf="errosApi">
            <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
        </div>     
        
    </div>

    <!-- MENSAGEM DE CONFIRMAÇÃO DE EXCLUSÃO DE REGISTRO / precisa ficar denro do for para pegar a iteração do registro -->
    <tela-dois-botoes
            [idModal]="idModal"
            [tituloModal]="'Aviso'"
            [mensagemModal]="mensagemExclui"
            [nomeBotao01]="'Não'"
            [nomeBotao02]="'Sim'"
            [controleChamada]="exclui"
            (botao01Clicado)="cancelaExclusao()"
            (botao02Clicado)="excluiPrograma()"
     >
     </tela-dois-botoes>    

</div>