<div class="embrulho-principal">
    <div class="titulo-browser">Browser Programa</div>
    <div>
        <!-- BOTÃO DE SAIR DO BROWSER -->
        <div>
            <input type="button" class="buttonSair" routerLink="/" style="float:left" >
        </div>
        <div class="posicao-centro-vertical">
            <!-- PESQUISA REGISTRO-->
            <div class="form-group col-md-6">
                <div class="input-group-append">

                    <input type="text" 
                           id="inputPesquisaRegistroPrograma" 
                           required maxlength="100" 
                           class="form-control" 
                           autocomplete="off"
                           [(ngModel)]="pesquisa"
                           (keyup.enter)="getFrequenciasPorDescricao()"   
                           placeholder="pesquise pela descrição"                                      
                    >

                    <input type="button" 
                           id="inputPesquisaRegistroPrograma"  
                           class="buttonPesquisa"
                           (click)="getFrequenciasPorDescricao()"
                    >
                </div>
            </div>
            <!-- BOTÃO DE INCLUSÃO DE REGISTRO -->
            <div>
                <input type="button" value="Incluir" routerLink="programa" class="btn btn-primary botaoBrowser">
            </div>
        </div>
    </div>

    <!-- TABELA -->
    <div>
        <table class="table table-sm bordas-tabela">
            <thead class="thead-dark">
                <th scope="col">ID</th>
                <th scope="col">DESCRIÇÃO</th>
                <th scope="col">SIGLA</th>
                <th>#</th>
                <th>#</th>
            </thead>
            <tbody>
                <tr *ngFor="let programa of programas | paginate: {itemsPerPage:7, currentPage: paginaAtual }; let i = index;">
                    <td> {{ programa.id            }} </td>
                    <td> {{ programa.descricao     }} </td>
                    <td> {{ programa.sigla         }} </td>
                    <td> <input type="button" class="buttonExclui" (click)="excluiPrograma(programa)"> </td>
                    <td> 
                        <input type="button" class="buttonEditar" routerLink="programa/" [queryParams]="{id:programa.id, 
                                                                                                         descricao:programa.descricao,
                                                                                                         sigla:programa.sigla,
                                                                                                         versao:programa.versao,
                                                                                                         data_vigencia:programa.data_vigencia,
                                                                                                         data_revisao:programa.data_revisao,
                                                                                                         versao:programa.versao,
                                                                                                         oficio:programa.oficio,
                                                                                                         bloqueado:programa.bloqueado} "> 
                    </td>
                </tr>
            </tbody>
        </table>
        
        <!-- PAGINAÇÃO DA TABELA -->
        <pagination-controls
                (pageChange)="paginaAtual = $event"
                maxSize = "5"
                directionLinks = "true"
                autoHide = "true"
                responsive = "true"
                previousLabel = ""
                nextLabel = ""
                screenReaderPaginationLabel = "Paginação"
                screenReaderPageLabel = "page"
                screenReaderCurrentLabel = "Você está na página"
                class=" posicao-centro-vertical " 
        >
        </pagination-controls>

        <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
        <div *ngIf="errosApi">
            <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
        </div>     
        
    </div>

</div>