<!-- MENU NAVEGAÇÃO -->
<div *ngIf="isLogado()">
    <app-nav-bar></app-nav-bar>
</div>


<!-- GERENCIADOR DE ROTAS -->
<router-outlet></router-outlet>


<!-- MODAIS DE AJUDA -->
<ajuda-cadastro-local></ajuda-cadastro-local>
<ajuda-cadastro-frequencia></ajuda-cadastro-frequencia>
<ajuda-cadastro-usuario></ajuda-cadastro-usuario>
<ajuda-cadastro-programa></ajuda-cadastro-programa>
<ajuda-cadastro-formulario></ajuda-cadastro-formulario>
<ajuda-resposta-formulario></ajuda-resposta-formulario>
<ajuda-inconforme></ajuda-inconforme>
<ajuda-menu-principal></ajuda-menu-principal>

<!-- TESTE CHAMANDO COMPONENTES SEPARADAMENTE -->
<!-- <app-local></app-local> -->
<!-- <app-frequencia></app-frequencia> -->
<!-- <app-programa></app-programa>    -->
<!-- <app-usuario></app-usuario> -->
<!-- <app-inconforme></app-inconforme> -->
<!-- <app-cadastro-formulario></app-cadastro-formulario> -->
<!-- <app-resposta-formulario></app-resposta-formulario> -->
<!-- <app-browser-frequencia></app-browser-frequencia> -->
<!-- <tela-mensagem></tela-mensagem> -->
<!-- <tela-box></tela-box> -->

<!-- LOGIN -->
<!-- <login></login> -->



