<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar  sticky-top navbar-dark bg-dark">
    <span class="navbar-text">
       AQUI VAI O MENU DE OPÇÕES
      </span>
  </nav>
  
  
<!-- <app-local></app-local> -->
<app-frequencia></app-frequencia>
<!-- <app-resposta-formulario></app-resposta-formulario> -->
<!-- <app-programa></app-programa> -->
<!-- <app-usuario></app-usuario> -->
<!-- <app-inconforme></app-inconforme> -->

<!-- <app-tela-consulta-padrao></app-tela-consulta-padrao> -->
    



