<!-- MENU NAVEGAÇÃO -->
<app-nav-bar></app-nav-bar>

<!-- GERENCIADOR DE ROTAS -->
<router-outlet></router-outlet>

<!-- LOGIN -->
<!-- <login></login> -->

<!-- MODAIS DE DE AJUDA -->
<ajuda-cadastro-local></ajuda-cadastro-local>
<ajuda-cadastro-frequencia></ajuda-cadastro-frequencia>

<!-- TESTE CHAMANDO COMPONENTES SEPARADAMENTE -->
<!-- <app-local></app-local> -->
<!-- <app-frequencia></app-frequencia> -->
<!-- <app-programa></app-programa>    -->
<!-- <app-usuario></app-usuario> -->
<!-- <app-inconforme></app-inconforme> -->
<!-- <app-cadastro-formulario></app-cadastro-formulario> -->
<!-- <app-resposta-formulario></app-resposta-formulario> -->

<!-- <app-browser-frequencia></app-browser-frequencia> -->


    



