<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajuda - Cadastro Frequência</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../global/view/estilo-global-ajuda.css">
</head>
<body>

    <article>
        <h1><u>Frequência</u></h1>
        <p>
            Nesta rotina são cadastradas todas as frequências utlizadas no sistema. </br>
            Todo programa de autocontrole necessita ser respondido em períodos de tempo ( frequência ) </br>
            Todo programa cadastrado no sistema deve ser associado a uma frequência, caso contrário, o 
            Cadastro de Programas não será concluído. </br></br>

            O cadastro de frequência é composto pelas seguintes informações: </br>
            
            <ul>
                <li><span>ID</span> - Código identificador da frequência, este campo é preenchido automaticamente pelo sistema.</li>
                <li><span>Descrição</span> - Descrição da frêquencia cadastrada, por exemplo: DIARIA, MENSAL etc..</li>
            </ul>
        </p>    
    </article>

</body>
</html>