<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Frequência</title>

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
    <form action="#" method="POST" autocomplete="off">
        <fieldset>
            <legend>Cadastro Frequência</legend>
            <div class="embrulho-campos">
                
                <p>Campos em azul são de preenchimento obrigatório</p>
                <div class="form-row">
                    <!-- ID -->
                    <div class="form-group col-md-1 espaco">
                        <label for="inputIdFrequencia" class="preenchimentoObrigatorio">ID</label>
                        <input type="text" id="inputIdFrequencia" name="inputIdFrequencia" required maxlength="4" [(ngModel)]="frequencia.id" class="form-control">                            
                    </div>
                    <!-- DESCRIÇÃO -->
                    <div class="form-group col-md-6 espaco">
                        <label for="inputDescricaoFrequencia" class="preenchimentoObrigatorio">Descrição</label>
                        <input type="text" id="inputDescricaoFrequencia" name="inputDescricaoFrequencia" required maxlength="15" [(ngModel)]="frequencia.descricao" class="form-control">
                    </div>
                </div>
            </div>
        </fieldset>

        <app-botoes-salvar-fechar (botaoSalvarClicado)=salvaFrequencia($event)
                                  (botaoFecharClicado)=fechaTela($event)></app-botoes-salvar-fechar>
    </form>
</body>
</html>