<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajuda - Cadastro Programa</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../global/view/estilo-global-ajuda.css">
</head>
<body>

    <article>
        <h1><u>Programa</u></h1>
        <p>
            As empresas que manipulam produtos de origem animal bem como, laticínios, frigorificos e manipuladores de produtos apícolas </br>
            obrigatóriamente necessitam fazer implantação de programas de qualidade exigidos pelos órgãos regulamentadores </br>
            SIF( Sistema de inspeção federal ) e pela ANVISA ( Agência nacional de vigilância sanitária ). Exemplo: BPF, PPHO, APPCC e PAC's </br></br>
            Nesta rotina são cadastrados todos programas exigidos pelos órgãos regulamentadores. </br></br>
            
            Observação: Todo cadastro de fomulário deve ser associado a um programa, caso contrário, o cadastro de formulário não será concluído. </br></br>

            O cadastro de programa é composto pelas seguintes informações: </br>
            
            <ul>
                <li><span>ID</span> - Código identificador do programa, este campo é preenchido automaticamente pelo sistema.</li>
                <li><span>Descrição</span> - Descrição do progrma cadastrado, por exemplo: PROGRAMA DE AUTOCONTROLE 01, PROCEDIMENTO PADRONIZADO DE HIGIENE OPERACIONAL.</li>
                <li><span>Sigla</span> - Sigla do progrma cadastrado, por exemplo: PAC-1, PPHO.</li>
                <li><span>Data Vigência</span> - Data em que o programa passou a ser vigente.</li>
                <li><span>Data Revisão</span> - Última data em que o programa foi revisado.</li>
                <li><span>Frequência</span> - Código da frequência em que o programa ( formulários do programa ) em questão deve ser respondido.</li>
                <li><span>Versão</span> - Versão do programa, por exemplo: 001, 003, etc.</li>
                <li><span>Oficio</span> - Oficio circular do programa</li>
                <li><span>Bloqueado</span> - Indica se o programa está bloqueado ( ativo ) ou não na empresa, caso esteja bloqueado não será permitido o uso do cadastro posteriormente.</li>
            </ul>
        </p>    
    </article>

</body>
</html>