<div class="embrulho-principal">
    <form action="#" method="POST" autocomplete="off">
        <fieldset>
            <legend>Cadastro Frequência</legend>
            <div class="embrulho-campos">

                <p>Campos em azul são de preenchimento obrigatório</p>
                <div class="form-row">
                    <!-- ID -->
                    <div class="form-group col-md-1 espaco">
                        <label for="inputIdFrequencia">ID</label>

                        <input type ="text"
                               id   = "inputIdFrequencia" 
                               name ="inputIdFrequencia" 
                               required 
                               [(ngModel)]="frequencia.id" 
                               disabled 
                               class="form-control"
                        >
                    </div>
                    <!-- DESCRIÇÃO -->
                    <div class="form-group col-md-6 espaco">
                        <label for="inputDescricaoFrequencia" class="preenchimentoObrigatorio">Descrição</label>

                        <input type = "text"
                               id   = "inputDescricaoFrequencia" 
                               name = "inputDescricaoFrequencia"
                               required 
                               maxlength   = {{SIZE_DESCRICAO}} 
                               [(ngModel)] = "frequencia.descricao"
                               [class.is-invalid] = "camposObrigatorios"
                               class="form-control"
                        >
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- BOTÕES P/ SALVAR OU CANCELAR CADASTRO -->
        <app-botoes-salvar-fechar (botaoSalvarClicado)=salva($event) 
                                  (botaoFecharClicado)=fechaTela($event)>
        </app-botoes-salvar-fechar>
    </form>

    <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
    <div *ngIf="errosApi">
        <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
    </div>

    <!-- MENSAGEM DE ALERTA -->
    <div *ngIf="mensagemAviso">
        <tela-mensagem [mensagemAviso]="mensagemAviso"></tela-mensagem>
    </div>

</div>