<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajuda - Cadastro Usuário</title>
</head>
<body>

    <article>
        <h1><u>Usuário</u></h1>
        <p>
            Nesta rotina são cadastrados todos os usuário que tem acesso ao sistema. </br></br>
            O cadastro de Usuário é composto pelas seguintes informações: </br>
            
            <ul>
                <li><span>CPF</span> - Número do cpf do usuário (Preencha somente com os números do CPF, sem os pontos)</li>
                <li><span>Nome</span> - Nome do usuário do sistema.</li>
                <li><span>Senha</span> - Senha que usuário fará login no sistema.</li>
                <li><span>E-mail</span> - Informe o e-mail do usuário.</li>
                <li><span>Bloqueado</span> - Informe se o usuário se encontra bloqueado ( Ativo ) ou não no sistema.</li>
                <li><span>Assinatura</span> - Informe uma imagem contendo a assinatura do usuário.</li>
            </ul>
        </p>    
    </article>

</body>
</html>