<form action="#" method="POST" autocomplete="off">
    <fieldset class="embrulho-cabecalho-formulario">
        <!-- NOME DO FORUMALARIO A SER RESPONDIDO -->
        <legend>{{ nomeFormulario }}</legend>

        <!-- CABELACHO FORMULARIO -->
        <div class="form-row borda-inferior">
            <!-- DATA EMISSAO -->
            <div class="form-group col-md-2 espaco">
                <label for="inputEmissao" class="preenchimentoObrigatorio">Data Emissão</label>

                <input type="date" 
                       id="inputEmissao" 
                       required 
                       name="inputEmissao" 
                       [(ngModel)]="respostaFormulario.dataEmissao" 
                       disabled
                       class="form-control"
                >
            </div>
            <!-- HORA EMISSAO -->
            <div class="form-group col-md-2 espaco">
                <label for="inputHoraEmissao" class="preenchimentoObrigatorio">Hora Emissão</label>

                <input type="time" 
                       id="inputHoraEmissao" 
                       required 
                       name="inputHoraEmissao" 
                       [(ngModel)]="respostaFormulario.horaEmissao" 
                       disabled
                       class="form-control"
                >
            </div>
            <!-- RESPONSÁVEL POR RESPONDER -->
            <div class="form-group col-md-5">
                <label for="inputResponsavel" class="preenchimentoObrigatorio">Responsável</label>

                <input type="text" 
                       id="inputResponsavel" 
                       required 
                       name="inputResponsavel" 
                       [(ngModel)]="respostaFormulario.responsavel" 
                       disabled
                       class="form-control"
                >
            </div>
        </div>
        <!-- ITENS FORMULARIO -->
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Item</th>
                    <th scope="col">Pergunta</th>
                    <th scope="col">Conforme</th>
                    <th scope="col">Não Conforme</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getRespostaFormulario().getItens()">
                        
                        <!-- A interrogação é uma diretiva do Angular para verificar se carregou o objeto, para depois fazer a iteração -->

                        <td> {{ item?.getItem() }}       </td>
                        <td class="coluna-pergunta"> {{ item?.getPergunta() }} ? </td>

                        <td>
                            <label class="container">
                                <input type="radio"
                                       required 
                                       name="{{ item.getItem() }}" 
                                       [(ngModel)]="item.conforme"
                                       value="true"
                                       (click)="retirarInconforme(item.item)" 
                                >
                                <span class="checkmark-conforme"></span>
                            </label>
                        </td>

                        <td>
                            <label class="container">
                                <input type="radio" 
                                       required 
                                       name="{{ item.getItem() }}" 
                                       [(ngModel)]="item.conforme"
                                       value="false"
                                       (click)="geraInconforme( item.getItem(), item.getPergunta() )"
                                >
                                <span class="checkmark-inconforme"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <!-- LISTA DE INCONFORMES  -->
    <fieldset class="embrulho-item-formulario">
        <legend>Não conformes</legend>
        <table>
            <thead></thead>
            <tbody>
                <tr *ngFor="let inconforme of getRespostaFormulario().inconformes">
                                      <!-- Item -->              <!-- Não conforme -->
                    <td> Pergunta {{ inconforme.item }} - {{ inconforme.descricao_inconforme }} </td>
                    <td>
                        <input type="button" 
                               class="buttonEditar"
                               (click)="editaInconforme(inconforme)" 
                        >
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>

        <div *ngIf="getRespostaFormulario().inconformes.length == 0" 
              class="font-blue"
        >
            Nenhuma inconformidade lançada. 
        </div>

    </fieldset>
    
    <!--  BOTOES -->
    <app-botoes-salvar-fechar 
                            (botaoSalvarClicado)=salvaRespostaFormulario($event)
                            (botaoFecharClicado)=fechaTela($event)>
    </app-botoes-salvar-fechar>

</form>

<!-- MODAL PARA INSERIR AS NÃO CONFORMIDADES -->
<div *ngIf="subTitulo">
    <tela-box [titulo]="'Descrição do não conforme!'"
              [subTitulo]="subTitulo"
              [mensagemBox]="mensagemInconfome"
              [controleChamada]="chamaInconforme"
              [placeholder]="'descreva aqui a não conformidade'"
              (botaoConfirmarClicado)="confirmaNaoConforme($event)"
              [tamanhoTexto]= '250'
    >
    </tela-box>
</div>

<!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
<div *ngIf="errosApi">
    <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
</div>
