/* CLASSES */
.nome-usuario{
    color: aliceblue;
    margin-left: 1rem;
}

.button-ajuda{
    background:none;
    border:none;
    color: #007bff;
    cursor:pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-logout{
    background:none;
    border:none;
    color: #DC143C	;
    cursor:pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-Logo{
    background: none;
    border: none;
}


/* Sub-menu aninhado */
.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}