<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar  sticky-top navbar-dark bg-dark navbar-expand-lg">

    <a class="navbar-brand" routerLink="/">QualyS</a>

    <!-- BOTÃO PARA RESPONSIVIDADE -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- CADASTROS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="browser-local">Local</a>
                    <a class="dropdown-item" routerLink="browser-frequencia">Frequência</a>
                    <a class="dropdown-item" routerLink="browser-programa">Programa</a>
                    <a class="dropdown-item" routerLink="browser-cadastro-formulario">Formulário</a>
                    <a class="dropdown-item" routerLink="browser-usuario">Usuário</a>
                </div>
            </li>

            <!-- LANÇAMENTOS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLancamentos" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Lançamentos
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Formulários</a>
                        <ul class="dropdown-menu">

                            <!-- OS FORMULÁRIOS VEM  DO BANCO DE DADOS -->
                            <li *ngFor="let formulario of formularios">
                                <a class="dropdown-item" 
                                   id="{{formulario.id}}" 
                                   routerLink="resposta-formulario/"
                                   [queryParams]="{ id:formulario.id }"
                                > 

                                    {{ formulario.descricao }} 
                                </a>
                            </li>

                            <!-- CASO NÃO FOR ENCONTRADO NENHUM FORMULARIO -->
                            <li *ngIf="formularios.length == 0" class="dropdown-item" style="color:red">
                                Nenhum formulário encontrado
                            </li>   
                         
                        </ul>
                    </li>
                    <a class="dropdown-item" routerLink="browser-inconforme">Inconforme</a>
                </ul>
            </li>

            <!-- RELATÓRIOS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Relatórios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="relatorio-vistoria-realizada">Vistorias Realizadas</a>
                    <a class="dropdown-item" routerLink="#">Relatório 02</a>
                    <a class="dropdown-item" routerLink="#">Relatório 03</a>
                </div>
            </li>
        </ul>

        <!-- BOTÃO AJUDA -->
        <button (click)="alternaAjuda()" class="button-ajuda">Ajuda</button>

        <!-- BOTÃO PARA SAIR DA APLICAÇÃO -->
        <button (click)="chamaConformiacaoDeLogout()" class="button-logout">Logout</button>

        <!-- USUARIO LOGADO NO SOFTWARE -->
        <div class="nome-usuario" >
            [ usuário: {{ nomeUsuario }} ]
        </div>


        <!-- MODAL QUANDO O BOTÃO CANCELAR É CLICADO
        <tela-dois-botoes
                    [idModal]="idModal"
                    [tituloModal]="'Aviso'"
                    [mensagemModal]="'Deseja realmente sair do sistema ?'"
                    [nomeBotao01]="'Não'"
                    [nomeBotao02]="'Sim'"
                    [controleChamada]="chamaLogout"
                    (botao01Clicado)="fechaModalLogout()"
                    (botao02Clicado)="logout()"
        >
        </tela-dois-botoes> -->
        
        <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
        <!-- ele tá com problema o modal aparece errado no DOM -->
        <!-- <div *ngIf="errosApi">
            <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
        </div> -->
    </div>
</nav>