<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aviso</title>
</head>

<body>

  <div class="modal fade" id="modalMensagem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full-screen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMensagem">{{titulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <article>
           
            <!-- MENSAGENS DE ERRO -->
            <div *ngIf="mensagemErro.trim() != '' " class="alert alert-danger">                
              <h1><u>Ops!</u></h1>
              <span>
                    <br>Ocorreu um erro na aplicação. 
                    <br>A culpa é nossa :(
                    <br>Sentimos muito, e pedimos desculpa pelo inconveniente.
                    <br><br>Erro ocasionado: 
                    <br><strong> {{ mensagemErro }} </strong>
                </span>
            </div>


          <!-- MENSAGEM DE AVISO -->
          <div *ngIf="mensagemAviso.trim() != '' " class="alert alert-warning">                
              <span>
                  <strong> {{ mensagemAviso }} </strong>
               </span>
            </div>


          <!-- MENSAGEM DE SUCESSO -->
           <div *ngIf="mensagemSucesso.trim() != '' " class="alert alert-primary">                
              <span>
                <strong> {{ mensagemSucesso }} </strong>
              </span>
           </div>
       
          </article>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" (click)="fechaModalMensagem()">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>