<div>

       <!-- DATA INICIAL DO FILTRO DO RELATÓRIO -->
       <div class="form-row">
              <div class="form-group col-md-2 espaco">
                     <label for="inputDataDaEmissao">Da emissão?</label>
                     <input type="date"
                            id="inputDataDaEmissao"
                            class="form-control"
                     >
              </div>

              <!-- DATA FINAL DO FILTRO DO RELATÓRIO -->
              <div class="form-group col-md-2 espaco">
                     <label for="inputDataAteEmissao">Ate emissão?</label>
                     <input type="date"
                            id="inputDataDaEmissao"
                            class="form-control"
                     >
              </div>

              <!-- FORMULARIO DA VISTORIA QUE DEVERÁ SER IMPRESSO -->
              <div class="form-group col-md-2">
                     <label for="inputPrograma">Considera qual formulário?</label>
                     <div class="input-group-append">

                     <input type="number" 
                            id="inputFormulario" 
                            name="inputPrograma" 
                            required 
                            class="form-control"
                     >

                     <input type="button" 
                            id="buttonPesquisa" 
                            class="buttonPesquisa"
                     >
                     </div>
              </div>
       </div>
       
       <!-- Botoes -->
       <div>
              <input type="button" value="Gerar" (click)="geraRelatorio()">
              <input type="button" value="Cancelar">
       </div>
</div>