<div class="embrulho-principal">
    <div class="titulo-browser">Browser Formulário</div>
    <div>
        <!-- BOTÃO DE SAIR DO BROWSER -->
        <!-- <div>
            <input type="button" class="buttonSair" routerLink="/" style="float:left" >
        </div> -->
        <div class="posicao-centro-vertical">
            <!-- PESQUISA REGISTRO-->
            <div class="form-group col-md-6">
                <div class="input-group-append">

                    <input type="text" 
                           id="inputPesquisaRegistroFormulario"                             
                           maxlength="100" 
                           class="form-control" 
                           autocomplete="off"
                           [(ngModel)]="pesquisa"
                           (keyup.enter)="getFormulariosPorDescricao()"   
                           placeholder="Pesquise pela descrição"              
                    >
                    
                    <input type="button" 
                           id="inputPesquisaRegistroFormulario"  
                           class="buttonPesquisa"                           
                           (click)="getFormulariosPorDescricao()"
                    >
                </div>
            </div>
            <!-- BOTÃO DE INCLUSÃO DE REGISTRO -->
            <div>
                <input type="button" value="Incluir" routerLink="cadastro-formulario" class="btn btn-primary botaoBrowser">
            </div>
        </div>
    </div>

    <!-- TABELA -->
    <div>
        <table class="table table-sm bordas-tabela">
            <thead class="thead-dark">
                <th scope="col">ID</th>
                <th scope="col" class="th-descricao">Descrição</th>
                <th>Excluir</th>
                <th>Editar</th>
            </thead>
            <tbody>
                <tr *ngFor="let formulario of formularios | paginate: {itemsPerPage:7, currentPage: paginaAtual }; let i = index;"
                    [class.registro-bloqueado]="formulario.bloqueado"
                >
                    <td class="align-components-browser-center"> {{ formulario.id  }} </td>
                    <td> {{ formulario.descricao }} </td>
                    <!-- BOTÃO EDITAR -->
                    <td class="align-components-browser-center"> 
                        <input type="button" 
                               class="buttonEditar" 
                               routerLink="cadastro-formulario/"  
                               [queryParams]="{
                                                id:formulario.id,
                                                descricao:formulario.descricao,
                                                id_programa:formulario.id_programa,
                                                descricao_programa:formulario.descricao_programa,
                                                id_local:formulario.id_local,
                                                descricao_local:formulario.descricao_local,
                                                id_frequencia:formulario.id_frequencia,
                                                descricao_frequencia:formulario.descricao_frequencia,
                                                bloqueado:formulario.bloqueado
                                              }"
                        > 
                    </td>
                    <!-- BOTÃO EXCLUIR -->
                    <td class="align-components-browser-center"> 
                        <input type="button" 
                               class="buttonExclui" 
                               (click)="confirmaExclusao(formulario.id)"
                        > 
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- PAGINAÇÃO DA TABELA -->
        <pagination-controls
                (pageChange)="paginaAtual = $event"
                maxSize = "5"
                directionLinks = "true"
                autoHide = "true"
                responsive = "true"
                previousLabel = ""
                nextLabel = ""
                screenReaderPaginationLabel = "Paginação"
                screenReaderPageLabel = "page"
                screenReaderCurrentLabel = "Você está na página"
                class=" posicao-centro-vertical " 
        >
        </pagination-controls>

        <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
        <div *ngIf="errosApi">
            <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
        </div>         
    </div>

    <!-- MENSAGEM DE CONFIRMAÇÃO DE EXCLUSÃO DE REGISTRO -->
    <tela-dois-botoes
            [idModal]="idModal"
            [tituloModal]="'Aviso'"
            [mensagemModal]="mensagemExclui"
            [nomeBotao01]="'Não'"
            [nomeBotao02]="'Sim'"
            [controleChamada]="exclui"
            (botao01Clicado)="cancelaExclusao()"
            (botao02Clicado)="excluiFormulario()"
    >
    </tela-dois-botoes>

</div>