<div class="embrulho-principal">
    <div class="titulo-browser">Browser Formulário</div>
    <div>
        <!-- BOTÃO DE SAIR DO BROWSER -->
        <div>
            <input type="button" class="buttonSair" routerLink="/" style="float:left" >
        </div>
        <div class="posicao-centro-vertical">
            <!-- PESQUISA REGISTRO-->
            <div class="form-group col-md-6">
                <div class="input-group-append">

                    <input type="text" 
                           id="inputPesquisaRegistroFormulario"                             
                           maxlength="100" 
                           class="form-control" 
                           autocomplete="off"
                    >
                    
                    <input type="button" 
                           id="inputPesquisaRegistroFormulario"  
                           class="buttonPesquisa"
                    >
                </div>
            </div>
            <!-- BOTÃO DE INCLUSÃO DE REGISTRO -->
            <div>
                <input type="button" value="Incluir" routerLink="cadastro-formulario" class="btn btn-primary botaoBrowser">
            </div>
        </div>
    </div>

    <!-- TABELA -->
    <div>
        <table class="table table-sm bordas-tabela">
            <thead class="thead-dark">
                <th scope="col">ID</th>
                <th scope="col">DESCRIÇÃO</th>
                <th>#</th>
                <th>#</th>
            </thead>
            <tbody>
                <tr *ngFor="let formulario of formularios | paginate: {itemsPerPage:7, currentPage: paginaAtual }; let i = index;">
                    <td> {{ formulario.id        }} </td>
                    <td> {{ formulario.descricao }} </td>
                    <td> <input type="button" class="buttonExclui" (click)="excluiFormulario(formulario)"> </td>
                    <td> <input type="button" class="buttonEditar" routerLink="cadastro-formulario/"  [queryParams]="{id:formulario.id}"> </td>
                </tr>
            </tbody>
        </table>

        <!-- PAGINAÇÃO DA TABELA -->
        <pagination-controls
                (pageChange)="paginaAtual = $event"
                maxSize = "5"
                directionLinks = "true"
                autoHide = "true"
                responsive = "true"
                previousLabel = ""
                nextLabel = ""
                screenReaderPaginationLabel = "Paginação"
                screenReaderPageLabel = "page"
                screenReaderCurrentLabel = "Você está na página"
                class=" posicao-centro-vertical " 
        >
        </pagination-controls>

        <!-- CASO EXISTA ERROS, ACIONA MODAL COMPONENTE DE ERRO -->
        <div *ngIf="errosApi">
            <tela-mensagem [mensagemErro]="errosApi"></tela-mensagem>
        </div>         
    </div>

</div>