/* CLASSES */
.coluna-item{

    width: 4.35rem;
}

.input-item{

    width: 5.3125rem;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}

.coluna-pergunta{

    width: 47.475rem;
}

.input-pergunta{

    width: 54.75rem;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}

.coluna-bloqueado{
    width: 6.85rem;
}

.input-bloqueado{

    width: 6.85rem;
    padding-right: 0.75rem;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}

.embrulho-tabela{

    height: 15.625rem;
    width: 80rem;
    overflow-y: auto;  /*só aparece o scroll quando necessário*/
}

.embrulho-campos-cabecalho{
    
    padding: 0.8125rem;
    border: 1 solid #eee;
    border-radius: 4px;
    height: 28rem;
}

/* CLASSES DE MODIFICAÇÃO DO TAMANHO DOS COMPONENTES PADRÕES*/
.tamanho-botao-adicao{

    background-size: 35px !important;
    width : 50px !important;
    height: 40px !important;
}

.tamanho-botoes-salvar-fechar{

    height: 2.5rem !important;
    padding-left: 0px  !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important; 
}

