/* CLASSES */

/* Estilização de cada coluna da tabela */
.coluna-item{

    width: 4.35rem;
}

.input-item{

    width: 5.3125rem;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}

.coluna-pergunta{

    width: 47.475rem;
}

.input-pergunta{

    width: 54.75rem;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}

.coluna-bloqueado{
    width: 6.85rem;
}

.input-bloqueado{

    width: 6.85rem;
    padding-right: 0.75rem;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}


/* Estilização de cada campo do cabeçalho */
.idFormulario {
    width: 4.5rem;
    /* margin-left: 0.3125rem; */
    margin-left: 5px;
}


/* Estilizações Gerais da tela */
.tabela{

    /* width: 12.375rem; */
    width: 198px;
}

.embrulho-tabela{

    width: 80rem;
    /* height: 11.6875rem; */
    height: 187px;
    overflow-y: auto;  /*só aparece o scroll quando necessário*/
}

.embrulho-forms{

    /* height: 14.875rem; */
    height: 238px;
}

.embrulho-campos-formulario{
    
    padding: 13px;
    border: 1px solid #eee;
    border-radius: 4px;
    height: 30.25rem;
}


/* CLASSES DE MODIFICAÇÃO DO TAMANHO DOS COMPONENTES PADRÕES*/
.tamanho-botao-adicao{

    background-size: 30px !important;
    width : 40px !important;
    height: 30px !important;
}

